div.home-field {
  /* Box-model */
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 0 2vw;

  /* Flexible Box */
  flex-direction: column;

  /* Visual */
  background: black;
  box-sizing: border-box;

  & > .header {
    /* Box-model */
    display: flex;
    padding: 2.96vh;

    /* Flexible Box */
    justify-content: center;
    align-items: center;

    & > .page-title {
      /* Box-model */
      display: flex;

      /* Flexible Box */
      flex-direction: column;
      align-items: center;

      /* Typography */
      color: white;
    }
  }

  & > .frame {
    /* Box-model */
    display: flex;
    height: 100%;

    /* Visual */
    border: 0.21vw double oldlace;
    border-radius: 1.67vw;
  }

  & > .footer {
    /* Box-model */
    display: flex;

    /* Flexible Box */
    justify-content: flex-end;

    color: oldlace;
  }
}
