div.home-field {
  width: 100vw;
  height: 100vh;
  background: gray;
  display: flex;
  flex-direction: column;

  & > .header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: oldlace;
  }

  & > .frame {
    margin: 0 5vw 5vh 5vw;
    width: 90vw;
    height: 80vh;
    background: oldlace;
    border-radius: 10vh;
    border-style: double;
  }
}
