@import "./styles/_font";
@import "./styles/_style";

body {
  /* Box-model */
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;

  /* Typography */
  color: white;

  /* Visual */
  background: black;

  & > div#index {
    /* Box-model */
    height: 100vh;
  }
}
